Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.1.0
SQLAlchemy==1.2.16
WTForms==2.2.1
Werkzeug==0.14.1
gunicorn==19.9.0
itsdangerous==1.1.0
psycopg2==2.7.7
requests==2.21.0
six==1.4.1

