{% extends "layout.html" %}

{% block content %}

  <main class="about-section">

    <div class="container text-center">

    <h2>Welcome to SharkTooth Investing!</h2>
    <p>We are an investing platform that gives unique benefits to our investors.</p>
    <p>From the user experience, SharkTooth is entirely hands-off. This means that</p>
    <p>while the investor can regularly check the status of their portfolio and </p>
    <p>their historical returns, they need not make any decisions about which </p>
    <p>equities their money is invested in. SharkTooth is powered entirely by an </p>
    <p>underlying algorithm that automates this process. So how does this algorithm work?</p>
    <p> <br /> </p>

	<p>SharkTooth's proprietary trading algorithm pulls daily closing prices of the</p>
	<p>NASDAQ 100. With this, our algorithm analyzes the strength of each stock as </p>
	<p>well as the expectation we have for the stock to increase in price in the short</p>
	<p>term. The algorithm then contructs a personalized portfolio for each user based</p>
	<p>on that user's selected risk tolerance level. While low risk models are more</p>
	<p>diversified, higher risk models invest only in the equities that the algorithm</p>
	<p>indicates as high growth.</p>
	<p> <br /> </p> 

	<p>So sign up today, choose your model, and watch your portfolio grow!</p>

    </div>
  </main>
{% endblock %}
