{% extends "layout.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="jumbotron text-center" id="test">
                <h1 class="display-5">Start Investing, Today</h1>
                <p class="lead mt-5 ">
                    <row>
                        <col>
                        {%if current_user.is_anonymous %}
                        <a class="btn btn-light btn-lg" href="/signup" role="button">Sign Up</a>
                        {% else %}
                        <a class="btn btn-light btn-lg" href="/dashboard" role="button">Stock Market Overview</a>
                        {% endif %}
                        <a class="btn btn-light btn-lg" href="/about" role="button">Learn More</a>
                        </col>
                    </row>
                </p>
            </div>


        </div>
        <div class="col-md-6">
            <div class="container">
                <img class="frontImage text-center" src="static/img/stock.png" height="850px" width="700px"
                     alt="Responsive image">
            </div>
        </div>
    </div>
</div>

		</div>

		<div class="row">
			<div class="panel panel-default graph">
			  <div class="panel-heading">
			    <h3 class="panel-title">Current Stock Market Overview 
			    	<span id="clock"></span>
			    </h3>
			  </div>
			  <div class="panel-body">
			    <img class="img-responsive" src= "{{ graphUrl }}">
			  </div>
			</div>
		</div>
		

	</div>
			
<script>
  setInterval(function () {

	  var clockElement = document.getElementById( "clock" );

	  function updateClock ( clock ) {
	    clock.innerHTML = new Date().toLocaleTimeString();
	  }

	  setInterval(function () {
	      updateClock( clockElement );
	  }, 1000);


	}()); 
</script>
{% endblock %}
