{% extends "layout.html" %}

{% block content %}
<main class="container">
    <div class="section-content-center">
        <h2 class="section-content-center">Investment Information</h2>

        <br/>

        <form method="POST" action="/personal-info">
            {{ form.hidden_tag() }}
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="form-group">
                        {{ form.initial_investment.label }}
                        <br/>
                        <input type="text" autofocus class="form-control is-invalid" id="initial_investment"
                               name="initial_investment"
                               placeholder="Initial Investment"
                               value="{{ form.initial_investment.data if form.initial_investment.data else '' }}"
                               required="true">
                    </div>
                </div>
            </div>

            <br/>

            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="risk">High Risk Portfolio</label>
                        <span style="margin-left:3px" class="text-muted">(default risk is low)</span><br/>

                        {{form.risk}}
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>

{% endblock %}