{% extends "layout.html" %}

{% block content %}
<main class="container">
    <div class="section-content">
        <h2 class="section-content-center">Withdraw Funds</h2>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h3>Are you sure you want to withdraw ${{ balance }} </h3>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-7" style="color:#666;">
                <ul>
                    <li style="margin-bottom:16px">The available funds will be transferred to your linked bank account within three business days.</li>
                    <li>This action is irreversible.</li>
                    <li class="warning">Your account will be deleted.</li>
                </ul>
                <br/>
                <br/>
                <a class="btn btn-lg btn-primary" href="{{ url_for('goodbye') }}" role="button">Confirm</a>
            </div>
        </div>


    </div>
</main>
{% endblock %}