{% extends "layout.html" %}

{% block content %}
<main class="container">
    <div class="section-content">
        <h2 class="section-content-center">Withdraw Funds</h2>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="form-group">
                    <label style="margin-bottom:10px">Available Funds:</label>
                    <br/>
                    <input type="text" class="form-control" placeholder="${{ current_user.balance }}"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-7" style="color:#666;">
                <ul>
                    <li style="margin-bottom:16px">The available funds will be transferred to your linked bank account within three business days.</li>
                    <li>This action is irreversible.</li>
                </ul>
                <br/>
                <br/>
                <a class="btn btn-lg btn-primary" href="{{ url_for('goodbye') }}" role="button">Confirm</a>
            </div>
        </div>


    </div>
</main>
{% endblock %}