{% include 'header.html' %}


	
	<div class="container">
		<div class="row">
			<div class= "col-md-6 ">
				<div class="jumbotron text-center" id="test">
					  <h1 class="display-5">Start Investing, Today</h1>
					  <!--<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
					  <!--<hr class="my-4">
					  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
					  <p class="lead mt-5 ">
					  	<row>
					  		<col>
					    		<a class="btn btn-light btn-lg" href="#" role="button">Sign Up</a>
					    		<a class="btn btn-light btn-lg" href="/about" role="button">Learn More</a>
					    	</col>
				    	</row>
					  </p>
				</div>

			</div>
			<div class = "col-md-6">
					<div class = "container">
					<img class="frontImage text-center" src="static/img/stock.png" height="850px" width="700px" alt="Responsive image">
				</div>
				
			</div>

		</div>
	</div>
			<!--<div class="jumbotron">
				<h2>Start investing today.</h2>
				<a href="#" class="btn-primary">Sign up</a>
				<a href="/login" class = "btn-secondary">Login </a>
				<a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
			</div>

			<div class="section-device">
				<img src="static/img/stock.png">
			</div>

			<div class="clearfix"></div>

		</div>
	</div>
-->

{% include 'footer.html' %}
